* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}


.container {

}

.container__slideshow {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.slideshow__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
